<!doctype html>
<html>
  <head>
    <script src="angular.js"></script>
  </head>

  <body>
    <div ng-app="project">
      <div ng-controller="ProjectController as projectCtrl">
      <h1>{{projectCtrl.name}}</h1>
      <p ng-hide="projectCtrl.editing">
        {{projectCtrl.description}}
        <a href ng-click="projectCtrl.edit()">Edit</a>
      </p>

      <div ng-show="projectCtrl.editing">
        <input ng-model="projectCtrl.description" type="text">
        <button ng-click="projectCtrl.save()">Save</button>
      </div>
    </div>

    <script>
      function ProjectController() {
        var vm = this;

        vm.name = "Plakatt";
        vm.edititing = false;

        vm.edit = function() {
          vm.editing = true;
        }

        vm.save = function() {
          vm.editing = false;
        }

        return vm;
      }

      angular
      .module("project", [])
      .controller("ProjectController", [ProjectController]);
    </script>
  </body>
</html>
